html,
body {
	height: 100%;
}

body {
	font-family: $font-family;
	font-weight: normal;
	font-size: 16px;
}

picture,
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

li {
	a {
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
		line-height: inherit;
		text-transform: inherit;
	}
}

.wrapper {
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: $main-color;
}

.title {
	color: $primary-color;
	font-family: $font-family-cormorant;
	@include adaptiv-value("font-size", toPX(6.5625), toPX(2.625), 1);
	font-style: normal;
	font-weight: 700;
	line-height: 81.8%; /* 5.36813rem */
	letter-spacing: -0.19688rem;
	text-wrap: balance;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1.75rem 0 1.81rem 0;
	color: $primary-color;
	font-family: $font-family-philosopher;
	@include adaptiv-value("font-size", toPX(1.625), toPX(1), 1);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 0.625rem;
	border: 1px solid $primary-color;

	&.active {
		background-color: $primary-color;
		color: #fbf5dd;
	}
}

.main {
	flex: 1 1 auto;
}

.tab__content {
	transition: all 0.8s ease-in-out;
}

.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s ease-in-out;

	&.active {
		max-height: 20rem;
		transition: all 0.5s ease-in-out;
	}
}

.lock {
	overflow: hidden !important;
}

.copy__link {
	cursor: pointer;
}
.input__password {
	position: relative;
	input {
		border: 1px solid #fff;
		width: 100%;
	}

	svg {
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		height: 50%;
		width: auto;
		path,
		circle {
			stroke: #fff;
		}

		#hide {
			opacity: 1;
			transition: all 0.2s ease-in-out;
		}

		#show {
			opacity: 0;
			transition: all 0.2s ease-in-out;
		}
	}

	&.active {
		svg {
			#hide {
				opacity: 0;
				transition: all 0.2s ease-in-out;
			}

			#show {
				opacity: 1;
				transition: all 0.2s ease-in-out;
			}
		}
	}
}

#popupMessage {
	position: fixed;
	bottom: 5rem;
	margin: auto;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(15, 15, 15, 0.8);
	color: var(--white, #fff);
	text-align: center;
	@include adaptiv-value("font-size", toPX(1.25), toPX(0.75), 1);
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
	z-index: 150;
	opacity: 0;
	padding: 0.5rem 1.5rem;
	border-radius: 0.625rem;
	transition: all 0.5s ease-in-out;
}

@include media-width($md) {
	.accordion-content-mobile {
		max-height: 0;
		overflow: hidden;
		transition: all 0.5s ease-in-out;

		&.active {
			max-height: 20rem;
			transition: all 0.5s ease-in-out;
		}
	}
}

.container {
	position: relative;
	@include adaptiv-value("padding-left", toPX(3.25), toPX(1.25), 1);
	@include adaptiv-value("padding-right", toPX(3.25), toPX(1.25), 1);
}
