.footer {
	@include adaptiv-value("padding-top", toPX(2.06), toPX(1.25), 1);
	@include adaptiv-value("padding-bottom", toPX(2.06), toPX(1.25), 1);
	border-radius: 1.25rem 1.25rem 0 0;
	background: #ffd6a7;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.94rem;
	}

	&__link {
		color: #1a0e00;
		font-family: $font-family-philosopher;
		@include adaptiv-value("font-size", toPX(1.625), toPX(1), 1);
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	&__opacity {
		opacity: 0.5;
	}
}
@include media-width($sm) {
	.footer {
		.container {
			flex-direction: column;
		}
	}
}
