.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		align-items: center;
		@include adaptiv-value("padding-top", toPX(3), toPX(2), 1);
	}

	&__logo {
		color: $primary-color;
		font-family: $font-family-cormorant;
		@include adaptiv-value("font-size", toPX(1.66819), toPX(1.41069), 1);
		font-style: normal;
		font-weight: 700;
		line-height: 81.8%;
		letter-spacing: -0.05006rem;
	}

	&__nav {
		display: flex;
		flex-direction: column;
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: 2.44rem;

		li {
			color: $primary-color;
			font-family: $font-family-philosopher;
			font-size: 1.25rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: capitalize;
		}
	}

	&__button {
		display: none;
	}

	&__burger {
		display: none;
	}

	&__link {
		color: $primary-color;
		font-family: $font-family-philosopher;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-decoration-line: underline;
		text-align: right;
	}
}

@include media-width($md) {
	.header {
		&__wrapper {
			display: flex;
			justify-content: space-between;
		}

		&__logo {
			position: relative;
			z-index: 5;
		}

		&__nav {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fbf5dd;
			padding-top: 5.88rem;
			justify-content: space-between;
			height: 100%;
			padding-bottom: 1.5rem;
			transition: all 0.5s ease-in-out;

			&.active {
				top: 0;
				transition: all 0.5s ease-in-out;
			}
		}

		&__menu {
			flex-direction: column;
			gap: 1.19rem;
			padding: 0 1.25rem;

			li {
				width: 100%;
				font-size: 2.625rem;
				font-style: normal;
				font-weight: 700;
				line-height: 81.8%; /* 2.14725rem */
				letter-spacing: -0.07875rem;
				padding-bottom: 1.19rem;
				border-bottom: 1px solid rgba($color: #4c200d, $alpha: 0.5);
			}
		}

		&__buttons {
			padding: 0 1.25rem;
			display: flex;
			flex-direction: column;
			gap: 0.63rem;
		}

		&__button {
			display: block;
			text-align: center;
			padding: 1.31rem 0;
		}

		&__burger {
			display: block;
		}

		&__link {
			display: none;
		}
	}
}
